<a href="https://colab.research.google.com/github/Luluzao0/Estudos_com_Python/blob/main/Estudos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estudo de python Váriaveis e o comando de atribuição:

In [ ]:
# variavel = expressao

# nomes das variaveis:

# contador, ind, i, j, a1, r2d2, bb8
# pode-se abreviar também: cont, aux.
# conta_pares e conta_impares
# MAXIMO_TAMANHO = 100

# algumas palavras reservadas: if, while, print(), def

# igualdade = | atribui valor ou cria variavel
# operador de igualdade == | retorna apenas True ou False


primeira_frase_em_python = 'aprendendo python'
segunda_frase_em_python = "vamos aprender python"
print(primeira_frase_em_python)
print(segunda_frase_em_python)

type(primeira_frase_em_python)
type(segunda_frase_em_python)


a = 'Isso é uma string com "aspas duplas".'
b = "Isso é uma string com 'aspas simples'."

print(a)
print(b)


c = 3
d = 3.14
e = True
f = 2.5

tipo1 = type(c)
tipo2 = type(d)
tipo3 = type(e)
tipo4 = type(f)

print("o tipo de c é: ", tipo1)
print("o tipo de d é: ", tipo2)
print("o tipo de e é: ", tipo3)
print("o tipo de f é: ", tipo4)


l = "Luis"
g = "Guilherme"
print(l + g)
nome = l + ' ' + g
print(nome)

print((l+g) * 3)

multip = 4 * 2
print(multip)
divis = int(4 / 2)
print(divis)
mod = 7 // 2
print(mod)


print(2,3,4, sep=' ')
print(2,3,4, sep='')
print(2,3,4, sep='-*-')

print('primeira', 'linha', end='\n')
print('segunda', 'linha', end='\n')

print('primeira', 'linha', end=' <<>> ')   # string sem pula linha
print('segunda', 'linha')

print('primeira', 'linha', sep='**', end=' <<>> ')
print('segunda', 'linha', sep='%%', end='<<FIM>>')

aprendendo python
vamos aprender python
Isso é uma string com "aspas duplas".
Isso é uma string com 'aspas simples'.
o tipo de c é:  <class 'int'>
o tipo de d é:  <class 'float'>
o tipo de e é:  <class 'bool'>
o tipo de f é:  <class 'float'>
LuisGuilherme
Luis Guilherme
LuisGuilhermeLuisGuilhermeLuisGuilherme
8
2
3
2 3 4
234
2-*-3-*-4
primeira linha
segunda linha

---------------------------------------------------------------------------

Ex. 1: ler dois inteiros e imprimir sua soma

In [ ]:
a = input("informe o valor do numero a:")
b = input("informe o valro do numero b:")

#podia tbm ser int(input) ou soma = int(a + b)
soma = int(a) + int(b)
print("o valor da soma é: ",soma)

informe o valor do numero a:10
informe o valro do numero b:2
o valor da soma é:  12

**Usando Operadores Aritmeticos:**

In [ ]:
"""
associatividade e precedencia: qual operador é calculado primeiro?

() esq -> direita
** direita -> esq
+,- direita -> esq (positivo e negativo unario)
*,/,//, % esq -> direita
+,- esq -> direita
"""


a = 12 / 2 / 3 / 4
print(a)

b = -+-+3
print(b)

c = 12 * 2 % 10
print(c)

d = 4 * 3 ** 2 // 10
print(d)

e = 2 ** 3 ** 2
print(e)

f = -2 ** 4
print(f)



"""

Expressões relacionais: ==, !=, >, >=, <, <=

"""

g = 2 == 3
print(g)
h = 2 != 3
print(h)
i = 3 > 3
print(i)
j = 3 >= 3
print(j)
k = 2 < 3
print(k)
l = 4 <= 3
print(l)


m = 2 + 3 == 3 + 2 * 1 # 5 é igual a 5? True
print(m)


"""

Expressões Lógicas: not, and, or

"""


x = True
y = False

print(x and y)

print(x or y)

print(not(x), not(y))



"""

Intervalos

"""

# supondo que o intervalo é [a,b]
a = -1
b = 1
x = 0

print(a <= x <= b)

0.5
3
4
3
512
-16
False
True
False
True
True
False
True
False
True
False True
True

Ex. 2 - Escreva um expressão em função de uma incógnita nota que resulte em True caso nota esteja no intervalo aberto (3.0, 5.0), e resulte em False caso contrário.

In [ ]:
i = 3.0
j = 5.0
x = float(input("Informe sua nota: "))

print(x)
print(i <= x <= j)

Informe sua nota: 5
5.0
True

Ex. 3 - Um ano bissexto ocorre aproximadamente a cada 4 anos. Escreva uma expressão (em função de uma incógnita ano) que resulte em True caso ano seja bissexto e False caso contrário. Para ser bissexto, o valor de ano precisa ser múltiplo de 4, exceto múltiplos de 100 que não são múltiplos de 400. Assim o ano de 2020 é bissexto pois satisfaz todas essas condições.

In [ ]:
ano_bissexto = int(input("Informe o ano que deseja saber se é bissexto: "))

if (ano_bissexto % 4 == 0 and (ano_bissexto % 100 != 0 or ano_bissexto % 400 == 0)):
    print(ano_bissexto, "é um ano bissexto")
else:
    print(ano_bissexto, "não é um ano bissexto")

Informe o ano que deseja saber se é bissexto: 2020
2020 é um ano bissexto

# **Comandos de Repetição:**

In [ ]:
# While
"""

* inicializar as variáveis de controle antes do comando;

* criar uma condição que usa a variável de controle e se mantenha verdadeira pelo número correto de iterações;

* modificar a variável de controle para garantir a terminação;

* realizar as computações sucessivas para se chegar a resposta correta.

while condição:
  comando_1
  comando_2
  .
  .
  .
  comando_n
"""

#Exemplo
fim = 10
cont = 0 # variavel de controle
while cont < fim:
  print("iteração numero: ", cont)
  cont = cont + 1

iteração numero:  0
iteração numero:  1
iteração numero:  2
iteração numero:  3
iteração numero:  4
iteração numero:  5
iteração numero:  6
iteração numero:  7
iteração numero:  8
iteração numero:  9

Ex. 4 - Dada uma sequência de números inteiros diferentes de zero, terminada por um zero, calcular a sua soma. Por exemplo, para a sequência:

12   17   4   -6   8   0

In [ ]:
def main():
  num = int(input("Digite um inteiro [0 para terminar]: "))
  soma = 0

  while num != 0:
    soma = soma + num
    num = int(input("Digite um inteiro [0 para terminar]: "))

  print("a soma foi: ", soma)
main()

Digite um inteiro [0 para terminar]: 12
Digite um inteiro [0 para terminar]: 17
Digite um inteiro [0 para terminar]: 4
Digite um inteiro [0 para terminar]: -6
Digite um inteiro [0 para terminar]: 8
Digite um inteiro [0 para terminar]: 0
a soma foi:  35

Ex. 5 - Dados números inteiros n e k, com k >= 0, calcular n elevado a k. Por exemplo, dados os números 3 e 4 o seu programa deve escrever o número 81.

In [ ]:
def main():
  n = int(input("informe o numero que vc deseja elevar: "))
  k = int(input("informe o numero da potencia: "))

  pot = 1
  i = 0
  while i < k:
    pot = pot * n
    i = i + 1


  print("O valor de %d elevado a %d eh %d" %(n, k, pot))

main()

informe o numero que vc deseja elevar: 2
informe o numero da potencia: 10
O valor de 2 elevado a 10 eh 1024

Ex. 6 - Dado um número inteiro n >= 0, calcular n!.

In [ ]:
def main():
  n = int(input("informe o inteiro: "))

  fat = 1
  i = 2
  while i <= n:
    fat = fat * i
    i = i + 1

  print("o valor de %d! é =" %n, fat) # um exemplo de print mais elaborado que o comum
main()

informe o inteiro: 50
o valor de 50! é = 30414093201713378043612608166064768844377641568960512000000000000

Ex. 7 - Dados dois inteiros positivos calcular o máximo divisor comum entre eles usando o algoritmo de Euclides.

In [ ]:
#como funciona o algoritmo de euclides:

"""
MDC(a,b) = MDC(b,r)

onde r é o resto da divisão de a por b

r = a - bq, q = a / b

"""

def main():
    a = int(input("Informe o primeiro inteiro da divisão: "))
    b = int(input("Informe o segundo inteiro da divisão: "))

    while b != 0:
        r = a % b
        a = b
        b = r

    mdc = a
    print("MDC:", mdc)

main()

Informe o primeiro inteiro da divisão: 100
Informe o segundo inteiro da divisão: 20
MDC: 20

# **Uso de if, if-else, if-elif-else**

In [ ]:
"""

if condição_do_if:
  comando_1
  comando_2
  .
  .
  .
  comando_n

comando_após_if

"""

idade = int(input("Informe sua idade: "))
if idade >= 18:
  print("parabens já pode ter cnh!")
else:
  print("muito novo para dirigir")


n = int(input("Digite um número: "))
if n % 2 == 0:
  print(n, "é par")
if n % 2 != 0:
  print(n, "é impar")

nota = int(input("Informe sua nota: "))
if nota < 30:
  print("reprovado")
elif nota < 50:
    print("Recuperação")
elif nota < 90:
  print("Aprovado")
else:
  print("Aprovado com louvor")

Informe sua idade: 15
muito novo para dirigir
Digite um número: 1
1 é impar
Informe sua nota: 100
Aprovado com louvor

Ex. 8 - Dados um número inteiro n, n > 0, e uma sequência com n números inteiros, determinar a soma dos pares. Por exemplo, para a sequência

6 2 7 0 5 8 4

In [ ]:
n = int(input("Digite o número de elementos na sequência: "))
soma_pares = 0

print("Digite a sequência de números inteiros:")
for i in range(n):
    numero = int(input())
    if numero % 2 == 0:
        soma_pares += numero

print("A soma dos números pares na sequência é:", soma_pares)

Digite o número de elementos na sequência: 7
Digite a sequência de números inteiros:
6
2
7
0
5
8
4
A soma dos números pares na sequência é: 20

Ex. 9 - Dados um número inteiro n, n > 0, e uma sequência com n números inteiros, determinar quantos números da sequência são pares e quantos são ímpares. Por exemplo, para a sequência

6   -2   7   0  -5   8  4
o seu programa deve escrever o número 4 para o número de pares e 2 para o de ímpares.

In [ ]:
def contar_pares_impares(sequencia):
    pares = 0
    impares = 0

    for numero in sequencia:
        if numero % 2 == 0:
            pares += 1
        else:
            impares += 1

    return pares, impares

n = int(input("Digite o número de elementos na sequência: "))

sequencia = []
for i in range(n):
    numero = int(input(f"Digite o {i+1}º número: "))
    sequencia.append(numero)

pares, impares = contar_pares_impares(sequencia)

print(f"Número de pares: {pares}")
print(f"Número de ímpares: {impares}")

Digite o número de elementos na sequência: 7
Digite o 1º número: 6
Digite o 2º número: -2
Digite o 3º número: 7
Digite o 4º número: 0
Digite o 5º número: -5
Digite o 6º número: 8
Digite o 7º número: 4
Número de pares: 5
Número de ímpares: 2

Ex. 10 - Dados um número inteiro n, n > 0, e um dígito d. 0 <= d <= 9, determinar quantas vezes d ocorre em n.

In [ ]:
n = int(input("Digite o valor de n (n > 0): "))
d = int(input("Digite o valor de d (0<=d<=9): "))

conta_digito = 0
n_salvo = n
while n > 0:
    dig = n % 10
    n = n // 10
    if dig == d:
        conta_digito = conta_digito + 1

print("O digito", d, "ocorre", conta_digito, "vezes em ", n_salvo)

Digite o valor de n (n > 0): 10
Digite o valor de d (0<=d<=9): 3
O digito 3 ocorre 0 vezes em  10

Ex. 11 - Dizemos que um número inteiro positivo é triangular se ele é o produto de três numeros inteiros consecutivos. Por exemplo, 120 é triangular, pois

> 4 * 5 * 6 = 120

In [ ]:
def e_triangular(numero):
    x = 0
    while True:
        x += 1
        triangular = (x * (x + 1)) // 2
        if triangular == numero:
            return True
        if triangular > numero:
            return False

numero = int(input("Digite um número: "))
if e_triangular(numero):
    print(f"{numero} é um número triangular.")
else:
    print(f"{numero} não é um número triangular.")

Digite um número: 820
820 é um número triangular.

Ex. 12 - Escreva um programa que leia três números inteiros e os imprima em ordem crescente.

In [ ]:
num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
num3 = int(input("Digite o terceiro número inteiro: "))

numeros = [num1, num2, num3]

numeros.sort()

print("Números em ordem crescente:", numeros[0], numeros[1], numeros[2])

Digite o primeiro número inteiro: 1001
Digite o segundo número inteiro: 99
Digite o terceiro número inteiro: 100
Números em ordem crescente: 99 100 1001

# **Indicadores de passagem:**

Uma variável utilizada como indicador de passagem indica se algo ocorreu ou não ocorreu durante a execução de um programa e, portanto, seu valor é ou não é, verdadeiro ou falso. Por essa razão, em Python, essas variáveis são do tipo booleano (bool).

 utilização de um indicador de passagem é bastante simples. Inicialmente a variável deve ser inicializada com um valor True ou False adequado. Em seguida, durante a execução do programa, o valor da variável é alterado apenas se o evento for detectado. Observe que, uma vez detectado o evento, o valor do indicador não deve ser mais alterado.

Dado um número inteiro n > 0 e uma sequência com n números inteiros, verifique se a sequência está em ordem crescente:

In [ ]:
#exemplo


n = int(input("digite o valor de n:"))
anterior = int(input("digite um numero da sequencia "))
i = 1

while i < n:
  x = int(input("Digite um valor da sequencia: "))
  if x <= anterior:
    print("a sequencia não está ordenada")
  else:
    print("a sequencia está ordenada")

  anterior = x
  i = i + 1



"""
problemas desse codigo:

imprime uma mensagem em cada iteração, quando apenas uma mensagem deveria ser impressa pelo programa;

as mensagens podem ser inconsistentes: pode imprimir que a sequência está ordenada e não ordenada;

imprime uma mensagem após verificar cada par, mas a resposta depende de toda a sequência.

"""

In [ ]:
#possivel solução para esses problemas:

n = int(input("Digite o valor de n: "))
anterior = int(input("Digite um número da sequência: "))
i = 1

while i < n:
  x = int(input("Digite um numero da sequencia: "))
  if x <= anterior:
    crecente = False
  else:
    crescente = True
  anterior = x
  i = i + 1

if crescente:
  print("a sequencia está ordenada")
else:
  print("a sequencia não está ordenada")

"""

o codigo segue tendo um problema:

a mensagem é definida apenas pelo último par da sequência. Assim, se a sequência for não decrescente mas o último par estiver em ordem crescente,
a mensagem dada será que a sequência está ordenada.

"""

In [ ]:
#outra tentativa de solução:

n = int(input("Digite o valor de n: "))
anterior = int(input("Digite um número da sequência: "))
i = 1

crescente = True

while i < n:
    x = int(input("Digite um número da sequência: "))
    if x <= anterior:
        crescente = False
    anterior = x
    i = i + 1

if crescente:
    print("A sequência está ordenada")
else:
    print("A sequência não está ordenada")




"""

retiramos o else. Dessa forma, quando o programa encontra um par fora de ordem,
esse evento é marcado na variável crescente. ao comparar outros pares da sequência,
mesmo que eles estiverem em ordem, a variável mantém o seu estado até o final da sequência.
dessa forma, a mensagem correta, que considera o resultado entre todos os pares, é impressa.


"""

In [ ]:
#solução final

n = int(input("Digite o valor de n: "))
anterior = int(input("Digite um número da sequência: "))
i = 1

crescente = True

while i < n and crescente:
    x = int(input("Digite um número da sequência: "))
    if x <= anterior:
        crescente = False
    anterior = x
    i = i + 1

if crescente:
    print("A sequência está ordenada")
else:
    print("A sequência não está ordenada")

Ex. 13 - Dado um número inteiro n > 1 e uma sequência com n números inteiros, verificar se todos os elementos da sequência são pares

In [ ]:
n = int(input("Informe o valor de n: "))
ant = int(input("Informe um número da sequência: "))
i = 1

par = True

while i < n and par:
    x = int(input("Digite um número da sequência: "))
    if x % 2 != 0:
        par = False
    ant = x
    i = i + 1

if par:
    print("A sequência é par.")
else:
    print("A sequência é ímpar.")

Informe o valor de n: 2
Informe um número da sequência: 5
Digite um número da sequência: 9
A sequência é ímpar.

Ex. 14 - Dado um número inteiro n > 1, verificar se n é primo. Utilize o padrão de indicador de passagem na sua solução.

In [ ]:
def primo(n):
    if n <= 1:
        return False


    primo = True
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:

            primo = False
            break

    return primo

n = 17
if primo(n):
    print(f"{n} é primo.")
else:
    print(f"{n} não é primo.")

17 é primo.

## **Repetição encaixada**

função y+xy-x².

Uma forma computacional para estimar o máximo dessa função dentro de um intervalo é testar vários pares (x,y), “procurando” pela solução. A ideia é escrever um programa que gera todos os pares (x,y) para encontrar o par que corresponde ao máximo da função.

In [ ]:
#resolvendo esse problema comum:


# Vamos considerar apenas os números inteiros no intervalo 0 <= x <= 2 e 0 <= y <= 3.

x = 0
while x <= 2:
  print('para x igual a', x)

  y = 0
  while y <= 3:
    print(' (', x, ',', y, ')')
    y = y + 1

  x = x + 1

para x igual a 0
 ( 0 , 0 )
 ( 0 , 1 )
 ( 0 , 2 )
 ( 0 , 3 )
para x igual a 1
 ( 1 , 0 )
 ( 1 , 1 )
 ( 1 , 2 )
 ( 1 , 3 )
para x igual a 2
 ( 2 , 0 )
 ( 2 , 1 )
 ( 2 , 2 )
 ( 2 , 3 )

In [ ]:
# agora para calcular os pontos maximos:

x_ini = 0
x_fim = 2

y_ini = 0
y_fim = 3

#cálculo do ponto de máximo
x_max = 0
y_max = 0
v_max = y_ini + x_ini * y_ini - x_ini * x_ini

#pontos no intervalo
x = x_ini
while x <= x_fim:

    y = y_ini
    while y <= y_fim:
        valor = y + x*y - x*x
        if valor > v_max:
            v_max = valor
            x_max = x
            y_max = y

        y = y + 1
    x = x + 1

print('Valor máximo: ', v_max)
print('Obtido no ponto: (', x_max,  ',', y_max, ')')

Valor máximo:  5
Obtido no ponto: ( 1 , 3 )

Ex. 14 - Sabe-se que cada número da forma n**3 é igual a soma de n ímpares consecutivos. Por exemplo,

1 ** 3 = 2,
2 ** 3 = 3 + 5,
3 ** 3 = 7 + 9 + 11,
4 ** 3 = 13 + 15 + 17 + 19,
Dado um número inteiro m, m > 0, determinar os ímpares consecutivos cuja soma é igual a n**3, para n assumindo valores de 1 a m.

In [ ]:
def encontrar_impares_consecutivos(m):
    for n in range(1, m + 1):
        primeiro_impar = (n - 1) ** 2 * 2 + 1
        impares = [primeiro_impar + i * 2 for i in range(n)]
        soma = sum(impares)
        print(f"{n} ** 3 = {' + '.join(map(str, impares))} = {soma}")

m = int(input("Digite um número inteiro m (m > 0): "))
encontrar_impares_consecutivos(m)

Digite um número inteiro m (m > 0): 3
1 ** 3 = 1 = 1
2 ** 3 = 3 + 5 = 8
3 ** 3 = 9 + 11 + 13 = 33

# **Funções em Python:**

In [ ]:
def nome_da_função ( parâmetros ):
    '''
    docstring contendo comentários sobre a função.
    Embora opcionais são fortemente recomendados. Os comentários
    devem descrever o papel dos parâmetros e o que a função faz.
    '''
    # corpo da função
    |
    | bloco de comandos
    |

In [ ]:
estrutura final de um programa python:

# função  principal
def main():
    '''
    Função principal, será a primeira a ser executado e
    será a responsável pela chamada de outras funções que
    por sua vez podem ou não chamar outras funções que
    por sua vez ...
    '''
    # corpo da função main
    |
    | bloco de comandos
    |

# Declaração das funções
def f( parâmetros_de_f ):
    '''
    docstring da função f
    '''
    # corpo da função f
    |
    | bloco de comandos
    |

def g( parâmetros_de_g ):
    '''
    docstring da função g
    '''
    # corpo da função g
    |
    | bloco de comandos
    |

[...]

# início da execução do programa


if __name__ == '__main__': # chamada da funcao principal
    main() # chamada da função main

Ex. 15 - Complete a função fatorial abaixo, que recebe como parâmetro um número inteiro k, k >= 0, e retorna k!.
Escreva apenas o corpo da função. Observe que o código já inclui chamadas para a função fatorial, para que você possa testar a função.

In [ ]:
def main():
  print("0! =", fatorial(0))
  print("1! =", fatorial(1))
  print("2! =", fatorial(2))
  print("3! =", fatorial(3))

def fatorial(k):
    fat = 1
    i = 2
    while i <= k:
        fat = fat * i
        i = i + 1
    return fat

if __name__ == '__main':
  main()

# **Listas**

In [4]:
primos = [2, 3, 5, 7, 11]

uma_lista = [11, "oi", 5.4, True]

outra_lista = ["Luis", "masculino", 20, 1.68, "Brasileiro", "Solteiro"]
guilherme = ["Guilherme", "Luis", 2003, "Brasil", 2020, "Dev", "USA-CA"]


#len(primos)
#len(uma_lista)
#len(outra_lista)
len(guilherme)

7

In [7]:
#acessando dados em uma lista

primos = [2,3,5,7,11]

i = 0

while i < len(primos):
  print("elemento de indice %d = %d"%(i,primos[i]))
  i = i + 1

numeros = [17, 183, 87, 34, 66, 8398, 44]
print("%3d: %d" %(2,numeros[-2]))
print("%3d: %d" %(9-8,numeros[9-8]))
print("%3d: %d" %(5,numeros[-5]))
print("%3d: %d" %(len(numeros)-1,numeros[len(numeros)-1]))

elemento de indice 0 = 2
elemento de indice 1 = 3
elemento de indice 2 = 5
elemento de indice 3 = 7
elemento de indice 4 = 11
  2: 8398
  1: 183
  5: 87
  6: 44

In [11]:
# cria lista de tamanho n com zeros
n = int(input("Digite o tamanho da lista: "))
lista = [0] * n
print(lista)

Digite o tamanho da lista: 10
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [12]:
#usando for para varrer elementos em lista:

primos = [2,3,5,7,11,13]

print("varredura:")
for elemento in primos:
  print("valor da variavel elemento: ", elemento)
print("Fim da varredura")

print("\n")
print("varredura usando while: ")
i = 0
while i < len(primos):
  print("posicao %d da lista: %d"%(i, primos[i]))
  i = i + 1

varredura:
valor da variavel elemento:  2
valor da variavel elemento:  3
valor da variavel elemento:  5
valor da variavel elemento:  7
valor da variavel elemento:  11
valor da variavel elemento:  13
Fim da varredura


varredura usando while:
posicao 0 da lista: 2
posicao 1 da lista: 3
posicao 2 da lista: 5
posicao 3 da lista: 7
posicao 4 da lista: 11
posicao 5 da lista: 13

In [16]:
start = 10
end = 20
step = 3
for i in range(start, end, step):
  print(i)

10
13
16
19

In [17]:
a = 5
b = 10

for i in range(a,b):
  print(i)
"""
pode-se perceber que o que fiz foi apenas diminuir o tamanho do codigo. Tambem mudando os nome das variaveis
isso permite que eu consiga manter uma "discrição" no codigo.
"""

5
6
7
8
9

In [18]:
a = [2,3,5,7,11,13]

for i in range(len(a)):
  print("%d : %d"%(i, a[i]))

#basicamente fazemos uma varredura geral de uma lista

0 : 2
1 : 3
2 : 5
3 : 7
4 : 11
5 : 13

In [26]:
c = [1,2,3,4,5,6,7,8,9,10,11,12]

i = 0
e = len(c)
s = 2


for i in range(i, e, s):
  print("%d %d"%(i, c[i]))

0 1
2 3
4 5
6 7
8 9
10 11

Ex. 16 - Dados n > 0 e uma sequência com n números reais, imprimí-los na ordem inversa a da leitura.

In [40]:
def main():
    n = int(input("Digite o tamanho da lista: "))
    lista = []

    for i in range(n):
        numero = float(input("Digite o número real: "))
        lista.append(numero)

    lista_sem_repeticoes = list(set(lista))

    print("Lista sem repetições:")
    for numero in lista_sem_repeticoes:
        print(numero)

main()

Digite o tamanho da lista: 5
Digite o número real: 1.0
Digite o número real: 1.0
Digite o número real: 2.0
Digite o número real: 3.0
Digite o número real: 4.0
Lista sem repetições:
1.0
2.0
3.0
4.0

Ex. 17 - Dados um número inteiro n e uma sequência com n números reais, determinar a maior soma de um segmento da sequência (com pelo menos um elemento). Um segmento é uma subsequência de números consecutivos.

Para n == 12 e a sequência 5   -2   -2   -7   3   14  10  -3   9   -6   4   1 a soma do segmento de soma máxima é 3 + 14 + 10 - 3 + 9 = 33

In [46]:
def sg(arr):
    ms = float('-inf')
    msa = 0

    for num in arr:
        msa = max(num, msa + num)
        ms = max(ms, msa)
    return ms


#caso queira, use outra sequencia e teste.
n = 12
s = [5, -2, -2, -7, 3, 14, 10, -3, 9, -6, 4, 1]
r = sg(s)
print("a maior soma de um segmento é:", r)

a maior soma de um segmento é: 33

# **Funções com Listas**

Ex. 18 - (objeto, list) -> bool.
Recebe uma lista de itens e um item e retorna True se o item eh um elemento da lista e False em caso contrario.

In [49]:
def p(o, l):
    return o in l

l = [1, 2, 3, 4, 5]
i = 3

if p(i, l):
    print(f"{i} está na lista")
else:
    print(f"{i} não está na lista")

3 está na lista

Ex. 19 - (int, int, lista) --> int    Recebe uma lista `lista` de número e dois índices `ini` e `fim`, retorna a soma da sublista (= fatia) formada pelos elementos de índices ini, ini+1,...... ,fim-1.

In [50]:
def soma_elementos(ini, fim, lista):
    soma = 0
    for i in range(ini, fim):
        soma += lista[i]

    return soma

lista = [1, 2, 3, 4, 5]

# teste 1
if soma_elementos(0, len(lista), lista) == 15:
    print("Passou no primeiro teste! :-)")
else:
    print("Não passou no primeiro teste! :-(")

# teste 2
if soma_elementos(1, 4, lista) == 9:
    print("Passou no segundo teste! :-)")
else:
    print("Não passou no segundo teste! :-(")

# teste 3
if soma_elementos(2, 2, lista) == 0:
    print("Passou no terceiro teste! :-)")
else:
    print("Não passou no terceiro teste! :-(")

Passou no primeiro teste! :-)
Passou no segundo teste! :-)
Passou no terceiro teste! :-)

# **Strings:**

Um string (=tipo str) é uma sequência de caracteres. Em Python, podemos representar um string colando-o entre aspas ou apóstrofes.

In [53]:
#criando strings e concatenando


def main():
  f = ""
  f = f + "essa string usa "
  m = '"apostrofes"'
  fi = " como marcardor "
  f = f + m + fi
  print("a frase é:",f)
  print("comprimento: ", len(f))
main()

a frase é: essa string usa "apostrofes" como marcardor
comprimento:  44

Demonstração de busca em frases com indices

In [60]:
def main():
    f = "eu posso ajudar respondendo perguntas no StackOverFlow!"
    sorte = [5, -4, 3, -8, 11]
    acertos = 0

    for i in sorte:
        if i >= 0 and i < len(f):
            r = input("Qual o caractere do índice %d?" % i)
            if f[i] == r:
                print("Parabéns, você acertou!")
                acertos += 1
            else:
                print("Você errou! O caractere do índice %d é %s" % (i, f[i]))
        else:
            print("Índice fora dos limites: %d" % i)

    print("Você acertou %d de %d perguntas" % (acertos, len(sorte)))

main()

Qual o caractere do índice 5?p
Você errou! O caractere do índice 5 é s
Índice fora dos limites: -4
Qual o caractere do índice 3?u
Você errou! O caractere do índice 3 é p
Índice fora dos limites: -8
Qual o caractere do índice 11?p
Você errou! O caractere do índice 11 é u
Você acertou 0 de 5 perguntas

# **Strings NÃO são Listas**

In [61]:
def main():
    texto = "Esse é um 'string'"
    print(texto)
    texto[2] = 'S'
    print(texto)

main()

# vai acusar esse erro TypeError: 'str' does not support item assignment on line 4.

Esse é um 'string'

TypeError: ignored

In [62]:
#solução do codigo anterior
def main():
    texto = "Esse é um 'string'"
    print(texto)
    novo_texto = 'Mais' + texto[6:]
    print(novo_texto)

main()

Esse é um 'string'
Mais um 'string'

# **Tabela ASCII, caracteres:**

In [63]:
print("Tabela ASCII de 32 a 127: ")
for i in range(32, 128, 3):
    print("ASCII[ %3d ] = '%s'  |  ASCII[ %3d ] = '%s'  |  ASCII[ %3d ] = '%s'"%
    (i, chr(i), i+1, chr(i+1), i+2, chr(i+2)))

Tabela ASCII de 32 a 127:
ASCII[  32 ] = ' '  |  ASCII[  33 ] = '!'  |  ASCII[  34 ] = '"'
ASCII[  35 ] = '#'  |  ASCII[  36 ] = '$'  |  ASCII[  37 ] = '%'
ASCII[  38 ] = '&'  |  ASCII[  39 ] = '''  |  ASCII[  40 ] = '('
ASCII[  41 ] = ')'  |  ASCII[  42 ] = '*'  |  ASCII[  43 ] = '+'
ASCII[  44 ] = ','  |  ASCII[  45 ] = '-'  |  ASCII[  46 ] = '.'
ASCII[  47 ] = '/'  |  ASCII[  48 ] = '0'  |  ASCII[  49 ] = '1'
ASCII[  50 ] = '2'  |  ASCII[  51 ] = '3'  |  ASCII[  52 ] = '4'
ASCII[  53 ] = '5'  |  ASCII[  54 ] = '6'  |  ASCII[  55 ] = '7'
ASCII[  56 ] = '8'  |  ASCII[  57 ] = '9'  |  ASCII[  58 ] = ':'
ASCII[  59 ] = ';'  |  ASCII[  60 ] = '<'  |  ASCII[  61 ] = '='
ASCII[  62 ] = '>'  |  ASCII[  63 ] = '?'  |  ASCII[  64 ] = '@'
ASCII[  65 ] = 'A'  |  ASCII[  66 ] = 'B'  |  ASCII[  67 ] = 'C'
ASCII[  68 ] = 'D'  |  ASCII[  69 ] = 'E'  |  ASCII[  70 ] = 'F'
ASCII[  71 ] = 'G'  |  ASCII[  72 ] = 'H'  |  ASCII[  73 ] = 'I'
ASCII[  74 ] = 'J'  |  ASCII[  75 ] = 'K'  |  ASCII[  76 ] = 'L'
ASCII[  77 ] = 'M'  |  ASCII[  78 ] = 'N'  |  ASCII[  79 ] = 'O'
ASCII[  80 ] = 'P'  |  ASCII[  81 ] = 'Q'  |  ASCII[  82 ] = 'R'
ASCII[  83 ] = 'S'  |  ASCII[  84 ] = 'T'  |  ASCII[  85 ] = 'U'
ASCII[  86 ] = 'V'  |  ASCII[  87 ] = 'W'  |  ASCII[  88 ] = 'X'
ASCII[  89 ] = 'Y'  |  ASCII[  90 ] = 'Z'  |  ASCII[  91 ] = '['
ASCII[  92 ] = '\'  |  ASCII[  93 ] = ']'  |  ASCII[  94 ] = '^'
ASCII[  95 ] = '_'  |  ASCII[  96 ] = '`'  |  ASCII[  97 ] = 'a'
ASCII[  98 ] = 'b'  |  ASCII[  99 ] = 'c'  |  ASCII[ 100 ] = 'd'
ASCII[ 101 ] = 'e'  |  ASCII[ 102 ] = 'f'  |  ASCII[ 103 ] = 'g'
ASCII[ 104 ] = 'h'  |  ASCII[ 105 ] = 'i'  |  ASCII[ 106 ] = 'j'
ASCII[ 107 ] = 'k'  |  ASCII[ 108 ] = 'l'  |  ASCII[ 109 ] = 'm'
ASCII[ 110 ] = 'n'  |  ASCII[ 111 ] = 'o'  |  ASCII[ 112 ] = 'p'
ASCII[ 113 ] = 'q'  |  ASCII[ 114 ] = 'r'  |  ASCII[ 115 ] = 's'
ASCII[ 116 ] = 't'  |  ASCII[ 117 ] = 'u'  |  ASCII[ 118 ] = 'v'
ASCII[ 119 ] = 'w'  |  ASCII[ 120 ] = 'x'  |  ASCII[ 121 ] = 'y'
ASCII[ 122 ] = 'z'  |  ASCII[ 123 ] = '{'  |  ASCII[ 124 ] = '|'
ASCII[ 125 ] = '}'  |  ASCII[ 126 ] = '~'  |  ASCII[ 127 ] = ''

# **Arquivos:**

In [68]:
# criando um arquivo

nome = "hello_world.txt" #input("informer o nome do arquivo: ")

with open(nome, 'w', encoding='utf-8') as arq:
  arq.write("Hello World! \n")
  arq.write("Ser ou nao ser, eis a questão. \n")
  arq.write("              Hamlet durante o monólogo da peça homônima de. William Shakespeare. \n")

no canto esquerdo vai ver o icone da pasta, pode perceber que agora aparece o arquivo `hello_world.txt`

In [69]:
#leitura dos arquivos

nome = "hello_world.txt"
with open(nome, 'r', encoding='utf-8') as arq_entrada:
  conteudo = arq_entrada.read()

print(conteudo)

Hello World!
Ser ou nao ser, eis a questão.
              Hamlet durante o monólogo da peça homônima de. William Shakespeare.

In [70]:
#caso queira adicionar uma quebra de linha:

nome = "hello_world.txt"
with open(nome, 'r', encoding='utf-8') as arquivo:
  for linha in arquivo:
    print(linha)

Hello World!

Ser ou nao ser, eis a questão.

              Hamlet durante o monólogo da peça homônima de. William Shakespeare.

In [71]:
#retirar espaços ou linhas em branco
ome = "hello_world.txt"

with open(nome, 'r', encoding='utf-8') as arquivo:
    for linha in arquivo:
        linha_sem_brancos = linha.strip()
        print(linha_sem_brancos)

Hello World!
Ser ou nao ser, eis a questão.
Hamlet durante o monólogo da peça homônima de. William Shakespeare.

In [72]:
#separar
linhas = [
            "Hello World! \n",
            "Ser ou nao ser, eis a questão. \n",
            "              Hamlet durante o monólogo da peça homônima de. William Shakespeare. \n"
            ]

for linha in linhas:
    linha_sem_brancos = linha.strip()
    print(linha_sem_brancos)
    palavras = linha_sem_brancos.split()
    print(palavras)

Hello World!
['Hello', 'World!']
Ser ou nao ser, eis a questão.
['Ser', 'ou', 'nao', 'ser,', 'eis', 'a', 'questão.']
Hamlet durante o monólogo da peça homônima de. William Shakespeare.
['Hamlet', 'durante', 'o', 'monólogo', 'da', 'peça', 'homônima', 'de.', 'William', 'Shakespeare.']

Ex. 20 - Escreva um programa que leia um arquivo contendo ao menos 1 número real por linha, e para cada linha imprima a sua soma. Ao final, o programa deve imprimir também a soma total.

In [12]:
numeros = "numeros.txt"

# Lista de números
lista_numeros = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0]

# Abrir o arquivo para escrita
with open(numeros, 'w', encoding='utf-8') as arq:
    # Escrever os números um por linha
    for numero in lista_numeros:
        arq.write(str(numero) + '\n')

In [13]:
#antes de executar esses comandos, lembre de inicializar o arquivo numeros.txt
def calcular_soma(lista):
    return sum(lista)

nome_arquivo = "numeros.txt"

soma_total = 0

try:
    with open(nome_arquivo, "r") as arquivo:
        for linha in arquivo:
            try:
                numero = float(linha)
                soma_linha = calcular_soma([numero])
                print(f"Soma da linha: {soma_linha}")
                soma_total += soma_linha
            except ValueError:
                print(f"A linha '{linha.strip()}' não contém um número real válido.")
except FileNotFoundError:
    print(f"O arquivo '{nome_arquivo}' não foi encontrado.")


print(f"Soma total: {soma_total}")

Soma da linha: 1.0
Soma da linha: 2.0
Soma da linha: 3.0
Soma da linha: 4.0
Soma da linha: 5.0
Soma da linha: 6.0
Soma da linha: 7.0
Soma da linha: 8.0
Soma da linha: 9.0
Soma da linha: 10.0
Soma da linha: 10.0
Soma da linha: 20.0
Soma da linha: 30.0
Soma da linha: 40.0
Soma da linha: 50.0
Soma da linha: 60.0
Soma da linha: 70.0
Soma da linha: 80.0
Soma da linha: 90.0
Soma da linha: 100.0
Soma total: 605.0

# **Matrizes**

In [21]:
#matrizes em python:

linha_zeros = [0] * 5
A = [linha_zeros] * 5
A[0][0] = 2
print(A)

[[2, 0, 0, 0, 0], [2, 0, 0, 0, 0], [2, 0, 0, 0, 0], [2, 0, 0, 0, 0], [2, 0, 0, 0, 0]]

In [43]:
#estarei usando a notação m(linhas) x n(colunas) para me referir a matrizes


def matriz(m, n, valor):
  matriz = []
  for i in range(m):
    linha = []
    for j in range(n):
      linha += [valor]
    matriz += [linha]

  return matriz

A = matriz(3, 3, 0)
A[0][0] = 1
A[0][1] = 2
A[0][2] = 3
A[1][0] = 4
A[1][1] = 5
A[1][2] = 6
A[2][0] = 7
A[2][1] = 8
A[2][2] = 9
print(A)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [56]:
# outro codigo que foi pode ser feito de outra maneira:
def matriz(m, n, valor):
  matriz = []
  contador = 1  # usamos o contador para podermos incrementar a matriz

  for i in range(m):
    linha = []
    for j in range(n):
      linha += [contador]
      contador += 1
    matriz += [linha]

  return matriz

A = matriz(5, 5, 0)

print(A)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

Ex. 21 - Escreva a função a ler_matriz() a seguir. Abaixo esta um exemplo com um passo a passo da execução da função, M x N quaisquer.

In [58]:
def ler_matriz():
    M = int(input("Digite o número de linhas da matriz: "))
    N = int(input("Digite o número de colunas da matriz: "))

    matriz = []
    for i in range(M):
        linha = []
        for j in range(N):
            valor = float(input(f"Digite o valor para a posição ({i+1}, {j+1}): "))
            linha.append(valor)
        matriz.append(linha)

    return matriz

def imprimir_matriz(matriz):
    for linha in matriz:
        for valor in linha:
            print(valor, end="\t")
        print()

matriz = ler_matriz()

print("Matriz lida:")
imprimir_matriz(matriz)

Digite o número de linhas da matriz: 2
Digite o número de colunas da matriz: 2
Digite o valor para a posição (1, 1): 1
Digite o valor para a posição (1, 2): 2
Digite o valor para a posição (2, 1): 3
Digite o valor para a posição (2, 2): 4
Matriz lida:
1.0	2.0
3.0	4.0

In [61]:
#mesmo codigo só que sem escolher os valores da matriz

import random # estou usando o random para pegar numeros aleatorios e gerar a matriz

M = int(input("Digite o número de linhas da matriz: "))
N = int(input("Digite o número de colunas da matriz: "))

matriz = [[random.randint(1, 1000) for j in range(N)] for i in range(M)]

print("Matriz gerada:")
for linha in matriz:
    for valor in linha:
        print(valor, end="\t")
    print()

Digite o número de linhas da matriz: 15
Digite o número de colunas da matriz: 15
Matriz gerada:
538	776	76	140	458	305	221	405	633	650	749	843	628	492	445
484	965	718	734	781	61	79	62	697	110	638	398	140	188	611
167	70	390	182	609	286	320	639	929	254	973	309	961	64	187
282	680	96	11	554	99	119	585	888	680	214	837	576	915	507
429	79	809	356	528	488	358	912	776	15	428	35	369	931	801
927	473	744	920	254	701	648	802	444	788	267	306	818	877	735
589	587	293	21	318	137	411	666	229	169	529	748	627	121	440
956	194	598	528	481	287	791	898	850	183	682	794	291	237	766
368	34	725	413	619	996	623	321	381	400	522	835	18	472	311
793	832	260	227	622	460	676	850	749	693	9	251	432	624	392
296	92	47	745	87	400	844	265	529	164	798	451	528	555	631
982	193	837	720	462	745	682	852	166	274	942	396	208	23	686
367	322	138	994	481	383	683	457	532	70	940	56	140	428	117
596	201	258	670	205	532	919	879	33	541	896	459	660	171	797
823	570	83	863	833	789	755	698	40	630	309	111	710	472	378

Ex. 22 - Escreva um programa que lê `n` e uma `matriz A` de inteiros de `dimensão m x n`, e verifica se A é simétrica. Pode utilizar um dos codigos passados, para realizar esse exercicio.

In [63]:
def ler_matriz():
    M = int(input("Digite o número de linhas da matriz: "))
    N = int(input("Digite o número de colunas da matriz: "))

    matriz = []
    for i in range(M):
        linha = []
        for j in range(N):
            valor = float(input(f"Digite o valor para a posição ({i+1}, {j+1}): "))
            linha.append(valor)
        matriz.append(linha)

    return matriz

def imprimir_matriz(matriz):
    for linha in matriz:
        for valor in linha:
            print(valor, end="\t")
        print()

"""

quais as formas de provar que uma matriz é simetrica :
    # Verificar se o número de linhas é igual ao número de colunas
    # Verificar se a matriz é igual à sua transposta
"""



def matriz_simetrica(matriz):
    if len(matriz) != len(matriz[0]):
        return False
    transposta = [[matriz[j][i] for j in range(len(matriz))] for i in range(len(matriz[0]))]
    return matriz == transposta

matriz = ler_matriz()

print("Matriz lida:")
imprimir_matriz(matriz)

if matriz_simetrica(matriz):
    print("A matriz é simétrica.")
else:
    print("A matriz não é simétrica.")

Digite o número de linhas da matriz: 3
Digite o número de colunas da matriz: 3
Digite o valor para a posição (1, 1): 5
Digite o valor para a posição (1, 2): 1
Digite o valor para a posição (1, 3): 2
Digite o valor para a posição (2, 1): 1
Digite o valor para a posição (2, 2): 6
Digite o valor para a posição (2, 3): 3
Digite o valor para a posição (3, 1): 2
Digite o valor para a posição (3, 2): 3
Digite o valor para a posição (3, 3): 8
Matriz lida:
5.0	1.0	2.0
1.0	6.0	3.0
2.0	3.0	8.0
A matriz é simétrica.

Ex. 23 - Escreva um programa que leia inteiros positivos m e n e os elementos de uma matriz A de números inteiros de dimensão m x n e conta o número de linhas e colunas que tem apenas zeros.

In [65]:
def contar_linhas_zeros(matriz):
    m = len(matriz)
    n = len(matriz[0])

    linhas_de_zeros = 0
    colunas_de_zeros = 0

    for i in range(m):
        if all(matriz[i][j] == 0 for j in range(n)):
            linhas_de_zeros += 1

    for j in range(n):
        if all(matriz[i][j] == 0 for i in range(m)):
            colunas_de_zeros += 1

    return linhas_de_zeros, colunas_de_zeros

m = int(input("Digite o número de linhas da matriz: "))
n = int(input("Digite o número de colunas da matriz: "))

matriz = []
for i in range(m):
    linha = []
    for j in range(n):
        elemento = int(input(f"Digite o elemento da posição ({i+1},{j+1}): "))
        linha.append(elemento)
    matriz.append(linha)

linhas_zeros, colunas_zeros = contar_linhas_zeros(matriz)

print(f"Número de linhas com apenas zeros: {linhas_zeros}")
print(f"Número de colunas com apenas zeros: {colunas_zeros}")

Digite o número de linhas da matriz: 2
Digite o número de colunas da matriz: 2
Digite o elemento da posição (1,1): 0
Digite o elemento da posição (1,2): 0
Digite o elemento da posição (2,1): 0
Digite o elemento da posição (2,2): 1
Número de linhas com apenas zeros: 1
Número de colunas com apenas zeros: 1

Ex. 25 - crie um algoritmo para multiplicar `x` matrizes de tamanhos `m x n ` quaisquer. ***Lembrando que para multiplicar matrizes, é necessario verificar se as dimensões das matrizes são compatíveis***

In [68]:
# aqui uso python nativo e listas para realizar esse desafio.

def multiplicar_matrizes(matrizes):
    if len(matrizes) < 2:
        raise ValueError("É necessário fornecer pelo menos duas matrizes para multiplicar.")


    for i in range(1, len(matrizes)):
        if len(matrizes[i - 1][0]) != len(matrizes[i]):
            raise ValueError("As dimensões das matrizes não são compatíveis para multiplicação.")

    resultado = matrizes[0]

    for i in range(1, len(matrizes)):
        matriz_atual = matrizes[i]
        m1 = len(resultado)
        n1 = len(resultado[0])
        m2 = len(matriz_atual)
        n2 = len(matriz_atual)

        if n1 != m2:
            raise ValueError("As dimensões das matrizes não são compatíveis para multiplicação.")

        novo_resultado = []

        for i in range(m1):
            linha = []
            for j in range(n2):
                elemento = 0
                for k in range(n1):
                    elemento += resultado[i][k] * matriz_atual[k][j]
                linha.append(elemento)
            novo_resultado.append(linha)

        resultado = novo_resultado

    return resultado



# realizando os testes
matriz1 = [[1, 2], [3, 4]]
matriz2 = [[5, 6], [7, 8]]
matriz3 = [[9, 10], [11, 12]]

matrizes = [matriz1, matriz2, matriz3]

resultado = multiplicar_matrizes(matrizes)
for linha in resultado:
    print(linha)

[413, 454]
[937, 1030]

caso no codigo acima vc receba esse erro:
![image.png]()
apenas altere os valores da sua matriz para valores válidos.

In [69]:
# outra solução usando a biblioteca NumPy:

import numpy as np

def multiplicar_matrizes(matrizes):
    if len(matrizes) < 2:
        raise ValueError("É necessário fornecer pelo menos duas matrizes para multiplicar.")
    resultado = matrizes[0]

    for i in range(1, len(matrizes)):
        matriz_atual = matrizes[i]
        if resultado.shape[1] != matriz_atual.shape[0]:
            raise ValueError("As dimensões das matrizes não são compatíveis para multiplicação.")
        resultado = np.dot(resultado, matriz_atual)
    return resultado

matriz1 = np.array([[1, 2], [3, 4]])
matriz2 = np.array([[5, 6], [7, 8]])
matriz3 = np.array([[9, 10], [11, 12]])

matrizes = [matriz1, matriz2, matriz3]

resultado = multiplicar_matrizes(matrizes)
print(resultado)

[[ 413  454]
 [ 937 1030]]

Ex. 25 - Escreva um programa que leia duas matrizes, a `matriz A` de dimensão `m x n` e `B` de dimensão `n x p` e imprime a matriz C de dimensão `m x p` que é o **produto de A por B.**

In [70]:
def ler_matriz(rows, cols):
    matriz = []
    for i in range(rows):
        linha = []
        for j in range(cols):
            valor = float(input(f"Digite o valor da posição ({i+1},{j+1}): "))
            linha.append(valor)
        matriz.append(linha)
    return matriz

def imprimir_matriz(matriz):
    for linha in matriz:
        for valor in linha:
            print(valor, end='\t')
        print()

def multiplicar_matriz(matriz_a, matriz_b):
    if len(matriz_a[0]) != len(matriz_b):
        return None
    m = len(matriz_a)
    n = len(matriz_a[0])
    p = len(matriz_b[0])

    matriz_c = [[0 for _ in range(p)] for _ in range(m)]

    for i in range(m):
        for j in range(p):
            for k in range(n):
                matriz_c[i][j] += matriz_a[i][k] * matriz_b[k][j]

    return matriz_c

m = int(input("Digite o número de linhas da matriz A: "))
n = int(input("Digite o número de colunas da matriz A (e número de linhas da matriz B): "))
p = int(input("Digite o número de colunas da matriz B: "))

print("Digite a matriz A:")
matriz_a = ler_matriz(m, n)

print("Digite a matriz B:")
matriz_b = ler_matriz(n, p)

matriz_c = multiplicar_matriz(matriz_a, matriz_b)

if matriz_c is not None:
    print("\nMatriz C (Resultado da multiplicação de A por B):")
    imprimir_matriz(matriz_c)
else:
    print("\nNão é possível multiplicar as matrizes A e B devido às dimensões incompatíveis.")

Digite o número de linhas da matriz A: 3
Digite o número de colunas da matriz A (e número de linhas da matriz B): 3
Digite o número de colunas da matriz B: 3
Digite a matriz A:
Digite o valor da posição (1,1): 1
Digite o valor da posição (1,2): 2
Digite o valor da posição (1,3): 3
Digite o valor da posição (2,1): 4
Digite o valor da posição (2,2): 5
Digite o valor da posição (2,3): 6
Digite o valor da posição (3,1): 7
Digite o valor da posição (3,2): 8
Digite o valor da posição (3,3): 9
Digite a matriz B:
Digite o valor da posição (1,1): 9
Digite o valor da posição (1,2): 8
Digite o valor da posição (1,3): 7
Digite o valor da posição (2,1): 6
Digite o valor da posição (2,2): 5
Digite o valor da posição (2,3): 4
Digite o valor da posição (3,1): 3
Digite o valor da posição (3,2): 2
Digite o valor da posição (3,3): 1

Matriz C (Resultado da multiplicação de A por B):
30.0	24.0	18.0
84.0	69.0	54.0
138.0	114.0	90.0

Ex. 26.1 - Escreva uma função que recebe um inteiro lin e uma matriz real A e outro inteiro col e uma matriz real B, e calcula a soma do produto entre os elementos da linha lin de A e com os respectivos elementos da coluna col de B. Você deve considerar que o número de colunas de A é o mesmo número de linhas de B.

In [82]:
def produto_lincol(lin, a_mat, col, b_mat):
    if len(a_mat[0]) != len(b_mat):
        raise ValueError("O número de colunas de a_mat deve ser igual ao número de linhas de b_mat.")
    soma = 0.0
    for i in range(len(a_mat[lin])):
        soma += a_mat[lin][i] * b_mat[i][col]

    return soma

A = [[1, 2, 1],
     [2, 2, 2],
     [1, 3, 2]]
B = [[1, 1],
     [2, 0],
     [0, 1]]
resultado = produto_lincol(2, A, 0, B)
print("Resultado:", resultado)

Resultado: 7.0

Ex. 26.2 - Utilizando a função do item anterior, escreva um programa que leia duas matrizes, a matriz A de dimensão m x n e B de dimensão n x p e imprime a matriz C de dimensão m x p que é o produto de A por B.

In [83]:
def produto_lincol(lin, a_mat, col, b_mat):
    if len(a_mat[0]) != len(b_mat):
        raise ValueError("O número de colunas de a_mat deve ser igual ao número de linhas de b_mat.")

    soma = 0.0
    for i in range(len(a_mat[lin])):
        soma += a_mat[lin][i] * b_mat[i][col]

    return soma

def multiplicar_matrizes(A, B):
    if len(A[0]) != len(B):
        raise ValueError("O número de colunas de A deve ser igual ao número de linhas de B.")

    m = len(A)
    n = len(A[0])
    p = len(B[0])

    C = [[0 for _ in range(p)] for _ in range(m)]

    for i in range(m):
        for j in range(p):
            C[i][j] = produto_lincol(i, A, j, B)

    return C

m = int(input("Digite o número de linhas de A: "))
n = int(input("Digite o número de colunas de A / número de linhas de B: "))
p = int(input("Digite o número de colunas de B: "))

A = []
print("Digite os elementos da matriz A:")
for _ in range(m):
    linha = [float(input()) for _ in range(n)]
    A.append(linha)

B = []
print("Digite os elementos da matriz B:")
for _ in range(n):
    linha = [float(input()) for _ in range(p)]
    B.append(linha)

C = multiplicar_matrizes(A, B)

print("Matriz C (produto de A por B):")
for linha in C:
    for elemento in linha:
        print(elemento, end="\t")
    print()

Digite o número de linhas de A: 3
Digite o número de colunas de A / número de linhas de B: 3
Digite o número de colunas de B: 3
Digite os elementos da matriz A:
1
2
3
4
5
6
7
8
9
Digite os elementos da matriz B:
9
8
7
6
5
4
3
2
1
Matriz C (produto de A por B):
30.0	24.0	18.0
84.0	69.0	54.0
138.0	114.0	90.0

Ex. 27.1 - Escreva uma função MAX que recebe como entrada uma matriz inteira A e devolve três inteiros: k, lin e col. O inteiro k é um maior elemento de A e é igual a A[lin,col].

    '''
    (matriz) -> int, int, int

    Recebe uma matriz A e devolve 3 inteiros:
    k (um maior valor), e sua posição lin, col.
    '''

In [91]:
def acha_max(A):
    max_valor = A[0][0]
    lin = col = 0
    for i in range(len(A)):
        for j in range(len(A[i])):
            if A[i][j] >= max_valor:
                max_valor = A[i][j]
                lin = i
                col = j
    return max_valor, lin, col


A = [[3, 7, 1], [1, 2, 8], [5, 3, 4]]
k, lin, col = acha_max(A)
print(f"O maior valor é {k} e está na posição ({lin}, {col})")

O maior valor é 8 e está na posição (1, 2)

Ex. 27.2 - Escreva um programa que, dado dois inteiros nl e nc e uma matriz quadrada de dimensão nl x nc, cujos elementos são todos inteiros, imprime uma tabela onde os elementos são listados em ordem decrescente, acompanhados da indicação de linha e coluna a que pertencem. Havendo repetições de elementos na matriz, a ordem é irrelevante. Utilize obrigatoriamente o procedimento da parte A, mesmo que você não o tenha feito.

    '''
    (matriz) -> int, int, int

    Recebe uma matriz A e devolve 3 inteiros:
    k (um maior valor), e sua posição lin, col.
   
    '''

In [94]:
def ler_matriz(nl, nc):
    matriz = []
    for i in range(nl):
        linha = []
        for j in range(nc):
            elemento = int(input(f"Digite o elemento da linha {i+1}, coluna {j+1}: "))
            linha.append(elemento)
        matriz.append(linha)
    return matriz

def imprime_matriz_em_ordem_decrescente(matriz):
    elementos = [elemento for linha in matriz for elemento in linha]

    elementos.sort(reverse=True)

    for elemento in elementos:
        print(elemento)

nl = int(input("Digite o número de linhas: "))
nc = int(input("Digite o número de colunas: "))
matriz = ler_matriz(nl, nc)

print("Valores em ordem decrescente:")
imprime_matriz_em_ordem_decrescente(matriz)

Digite o número de linhas: 3
Digite o número de colunas: 3
Digite o elemento da linha 1, coluna 1: 1
Digite o elemento da linha 1, coluna 2: 2
Digite o elemento da linha 1, coluna 3: 4
Digite o elemento da linha 2, coluna 1: 5
Digite o elemento da linha 2, coluna 2: 6
Digite o elemento da linha 2, coluna 3: 8
Digite o elemento da linha 3, coluna 1: 7
Digite o elemento da linha 3, coluna 2: 10
Digite o elemento da linha 3, coluna 3: 12
Valores em ordem decrescente:
12
10
8
7
6
5
4
2
1

DESAFIO - Faça uma "copia" do jogo campo minado usando Matrizes

In [99]:
import random

def criar_tabuleiro(linhas, colunas, minas):
    tabuleiro = [[' ' for _ in range(colunas)] for _ in range(linhas)]
    minas_colocadas = 0

    while minas_colocadas < minas:
        x = random.randint(0, linhas - 1)
        y = random.randint(0, colunas - 1)

        if tabuleiro[x][y] != 'M':
            tabuleiro[x][y] = 'M'
            minas_colocadas += 1

    return tabuleiro

def mostrar_tabuleiro(tabuleiro):
    for linha in tabuleiro:
        print(" ".join(linha))

def contar_minas_ao_redor(tabuleiro, x, y):
    linhas = len(tabuleiro)
    colunas = len(tabuleiro[0])
    minas_ao_redor = 0

    for i in range(-1, 2):
        for j in range(-1, 2):
            if 0 <= x + i < linhas and 0 <= y + j < colunas and tabuleiro[x + i][y + j] == 'M':
                minas_ao_redor += 1

    return minas_ao_redor

def jogar():
    linhas = 5
    colunas = 5
    minas = 5
    tabuleiro = criar_tabuleiro(linhas, colunas, minas)
    mostrar_tabuleiro(tabuleiro)
    chances_restantes = 3

    while chances_restantes > 0:
        try:
            x = int(input("Escolha a linha (0 a {}): ".format(linhas - 1)))
            y = int(input("Escolha a coluna (0 a {}): ".format(colunas - 1)))

            if tabuleiro[x][y] == 'M':
                print("Você acertou uma mina! Chances restantes:", chances_restantes)
                chances_restantes -= 1
                if chances_restantes == 0:
                    print("Você perdeu! Reiniciando o jogo.")
                    return
            else:
                minas_ao_redor = contar_minas_ao_redor(tabuleiro, x, y)
                tabuleiro[x][y] = str(minas_ao_redor)
                mostrar_tabuleiro(tabuleiro)

        except (ValueError, IndexError):
            print("Entrada inválida. Tente novamente.")

    print("Parabéns! Você ganhou!")

if __name__ == "__main__":
    jogar()

      M

        M
        M
  M M
Escolha a linha (0 a 4): 1
Escolha a coluna (0 a 4): 1
      M
  0
        M
        M
  M M
Escolha a linha (0 a 4): 0
Escolha a coluna (0 a 4): 0
0     M
  0
        M
        M
  M M
Escolha a linha (0 a 4): 2
Escolha a coluna (0 a 4): 2
0     M
  0
    0   M
        M
  M M
Escolha a linha (0 a 4): 0
Escolha a coluna (0 a 4): 4
0     M 1
  0
    0   M
        M
  M M
Escolha a linha (0 a 4): 0
Escolha a coluna (0 a 4): 4
0     M 1
  0
    0   M
        M
  M M
Escolha a linha (0 a 4): 3
Escolha a coluna (0 a 4): 3
0     M 1
  0
    0   M
      3 M
  M M
Escolha a linha (0 a 4): 4
Escolha a coluna (0 a 4): 4
0     M 1
  0
    0   M
      3 M
  M M   1
Escolha a linha (0 a 4): 0
Escolha a coluna (0 a 4): 3
Você acertou uma mina! Chances restantes: 3
Escolha a linha (0 a 4): 0
Escolha a coluna (0 a 4): 3
Você acertou uma mina! Chances restantes: 2
Escolha a linha (0 a 4): 0
Escolha a coluna (0 a 4): 3
Você acertou uma mina! Chances restantes: 1
Você perdeu! Reiniciando o jogo.

# **Otimizando seu código com Algoritmos de Busca:**

**o que são?**

são algoritmos que verificam se uma informação dada ocorre em uma sequencia ou não.

Exemplo: numeros em uma lista(s) e um numero(n) como, escreva uma função que responda à pergunta: n ocorre em s?

In [107]:
# pq nao usar apenas n in s?


"""
sim, pode-se usar porém ele vai retornar apenas True ou False,
aqui meu objetivo é te ajudar a compreender mais o uso do "in",
formas mais rapidas de verificar e fazer testes em seu codigo.
"""


def busca_sequencial(n, s):
    for i in range(len(s)):
        if s[i] == n:
            return True
    return False

#basicamente agora fazemos testes unitarios. Aqui são valores n e s, mas poderiam ser numeros e cpfs, emails, nomes.

# Teste 1:
n1 = 3
s1 = [1, 2, 3, 4, 5]
print(busca_sequencial(n1, s1))

# Teste 2:
n2 = 25
s2 = [10, 20, 30, 40, 50]
print(busca_sequencial(n2, s2))

# Teste 3:
n3 = 7
s3 = []
print(busca_sequencial(n3, s3))

# Teste 4:
n4 = 8
s4 = [8, 6, 7, 5, 3, 0, 9]
print(busca_sequencial(n4, s4))

True
False
False
True

Ex. 28 - Escreva um programa que leia uma sequência com N números reais e imprime a sequência eliminando os elementos repetidos

In [108]:
def eliminar_elementos_repetidos():
    n = int(input("Digite o número de elementos na sequência: "))
    sequencia = []

    for _ in range(n):
        numero = float(input("Digite um número real: "))
        sequencia.append(numero)

    sequencia_sem_repeticao = list(set(sequencia))

    print("Sequência sem elementos repetidos:")
    for numero in sequencia_sem_repeticao:
        print(numero)

if __name__ == "__main__":
    eliminar_elementos_repetidos()

Digite o número de elementos na sequência: 10
Digite um número real: 1.0
Digite um número real: 2.0
Digite um número real: 3.5
Digite um número real: 1.0
Digite um número real: 5.5
Digite um número real: 4.0
Digite um número real: 9.9
Digite um número real: 1.1
Digite um número real: 2.0
Digite um número real: 1.0
Sequência sem elementos repetidos:
1.0
2.0
3.5
4.0
5.5
1.1
9.9

    '''
    (float, list) -> int
    Retorna a posição em que x ocorre na lista, ou None caso contrário
    '''

In [110]:
def acha(x, seq):
    for i in range(len(seq)):
        if seq[i] == x:
            return i
    return None

if __name__ == "__main__":
    sequencia = [1.2, 2.5, 3.8, 4.2, 2.5]
    valor_procurado = 2.5
    posicao = acha(valor_procurado, sequencia)
    if posicao is not None:
        print(f"{valor_procurado} foi encontrado na posição {posicao} da lista.")
    else:
        print(f"{valor_procurado} não foi encontrado na lista.")

2.5 foi encontrado na posição 1 da lista.

In [111]:
def acha(x, seq):
    for i in range(len(seq)):
        if seq[i] == x:
            return i
    return None
def main():
    n = int(input("Digite o número de elementos na sequência: "))
    sequencia = []

    for _ in range(n):
        numero = float(input("Digite um número real: "))
        sequencia.append(numero)
    sequencia_sem_repeticao = []
    for numero in sequencia:
        if acha(numero, sequencia_sem_repeticao) is None:
            sequencia_sem_repeticao.append(numero)
    print("Sequência sem elementos repetidos:")
    for numero in sequencia_sem_repeticao:
        print(numero)

if __name__ == "__main__":
    main()

Digite o número de elementos na sequência: 5
Digite um número real: 1.2
Digite um número real: 3.
Digite um número real: 2.5
Digite um número real: 3.5
Digite um número real: 1.2
Sequência sem elementos repetidos:
1.2
3.0
2.5
3.5

Ex. 29 - ![image.png]()

In [118]:
def busca_binaria(n, s):
    esq, dir = 0, len(s) - 1
    while esq <= dir:
        meio = (esq + dir) // 2
        if s[meio] == n:
            return meio
        elif s[meio] < n:
            esq = meio + 1
        else:
            dir = meio - 1
    return None

s = [4, 10, 80, 90, 91, 99, 100, 101]
testes = [80, 50]

for t in testes:
    pos = busca_binaria(t, s)
    if pos is None:
        print("Não achei", t)
    else:
        print("Achei", t, "na posição", pos)

Achei 80 na posição 2
Não achei 50

# **Algoritmos Elementares de Ordenação**

In [ ]:
#primeiro temos o mais padrão

Dado uma lista seq com N elementos, rearranjar os elementos de seq de tal modo que eles fiquem em ordem crescente, ou seja, de tal forma que seq[0] <= seq[1] <= … <= seq[N-1].

In [120]:
def main():
    seq1 = [2, 5, 4, 8, 9, 11, 17, 21]

    print(seq1)
    if crescente(seq1):
        print("é crescente")
    else:
        print("não é crescente")

def crescente(seq):
    for i in range(len(seq) - 1):
        if seq[i] > seq[i + 1]:
            return False
    return True

main()

[2, 5, 4, 8, 9, 11, 17, 21]
não é crescente

>Assuma que a primeira posição da lista seq (1a carta do baralho) está ordenada;
>novo = 2
>sabemos que todos os elementos anteriores ao elemento novo estão ordenados
>insira o elemento novo (seq[novo]) na posição adequada na sub lista seq[0:novo], e desloque os demais elementos, para obter a lista ordenada até o elemento novo.
>incremente novo e repita a partir do passo 3 até o último elemento da lista

Insertion Sort

In [121]:
def main():
    seq1 = [1, 2, 3, 5, 4, 7, 11, 3]

    print(seq1)
    insercao(seq1)
    print(seq1)
    if not crescente(seq1):
        print("não ", end='')
    print("é crescente")

def insercao(seq):
    for i in range(1, len(seq)):
        chave = seq[i]
        j = i - 1
        while j >= 0 and chave < seq[j]:
            seq[j + 1] = seq[j]
            j -= 1
        seq[j + 1] = chave

def crescente(seq):
    for i in range(1, len(seq)):
        if seq[i] < seq[i - 1]:
            return False
    return True

if __name__ == "__main__":
    main()

[1, 2, 3, 5, 4, 7, 11, 3]
[1, 2, 3, 3, 4, 5, 7, 11]
é crescente

>Escreva a função selecao que implementa esse algoritmo. Uma característica importante para a eficiência de um algoritmo de ordenação é a capacidade de utilizar a mesma lista de entrada, rearranjando os elementos ao invés de criar uma nova lista ordenada.

Selection Sort

In [123]:
def main():
    seq1 = [1, 2, 11, 5, 17, 7, 10, 5]

    print(seq1)
    selecao(seq1)
    print(seq1)
    if not crescente(seq1):
        print("não ", end='')
    print("é crescente")

def selecao(seq):
    for i in range(len(seq)):
        min_index = i
        for j in range(i + 1, len(seq)):
            if seq[j] < seq[min_index]:
                min_index = j

        seq[i], seq[min_index] = seq[min_index], seq[i]

def crescente(seq):
    for i in range(1, len(seq)):
        if seq[i] < seq[i - 1]:
            return False
    return True

if __name__ == "__main__":
    main()

[1, 2, 11, 5, 17, 7, 10, 5]
[1, 2, 5, 5, 7, 10, 11, 17]
é crescente

>Escreva a função bolha que implementa esse algoritmo. Uma característica importante para a eficiência de um algoritmo de ordenação é a capacidade de utilizar a mesma lista de entrada, rearranjando os elementos ao invés de criar uma nova lista ordenada.

Bubble Sort

In [127]:
def main():
    seq1 = [54, 2, 11, 4, 17, 7, 21, 1]

    print(seq1)
    bolha(seq1)
    print(seq1)
    if not crescente(seq1):
        print("nao ", end='')
    print("crescente")

def bolha(seq):
    n = len(seq)
    for i in range(n):
        for j in range(0, n-i-1):
            if seq[j] > seq[j+1]:
                seq[j], seq[j+1] = seq[j+1], seq[j]

main()

[54, 2, 11, 4, 17, 7, 21, 1]
[1, 2, 4, 7, 11, 17, 21, 54]
crescente

In [133]:
import random

unsorted_list = [random.randint(1, 1000) for _ in range(1007)]

def bubble_sort(arr):
    n = len(arr)
    swapped = True
    while n > 1 and swapped:
        swapped = False
        for i in range(n - 1):
            if arr[i] > arr[i + 1]:
                arr[i], arr[i + 1] = arr[i + 1], arr[i]
                swapped = True
        n -= 1


if __name__ == "__main__":
    print("Lista não ordenada (primeiros 10 elementos):", unsorted_list[:20])
    bubble_sort(unsorted_list)
    print("Lista ordenada (primeiros 10 elementos):", unsorted_list[:10])

Lista não ordenada (primeiros 10 elementos): [997, 759, 795, 134, 466, 397, 174, 78, 988, 564, 212, 492, 638, 744, 431, 759, 793, 33, 455, 93]
Lista ordenada (primeiros 10 elementos): [1, 1, 1, 3, 4, 4, 4, 5, 5, 6]